@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1765690847673') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-appreciate:before {
  content: "\e644";
}

.icon-edit:before {
  content: "\e649";
}

.icon-favorfill:before {
  content: "\e64b";
}

.icon-favor:before {
  content: "\e64c";
}

.icon-roundcheckfill:before {
  content: "\e656";
}

.icon-comment:before {
  content: "\e667";
}

.icon-likefill:before {
  content: "\e668";
}

