@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1765691471169') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huoreremen:before {
  content: "\e67e";
}

.icon-diannao:before {
  content: "\e601";
}

.icon-xiexian:before {
  content: "\e6ae";
}

